<div class="flow-topic-titlebar-container">
    <h2 class="flow-topic-title flow-load-interactive {{#if isLocked}}flow-collapse-toggle flow-click-interactive{{/if}}"
        data-flow-topic-title="{{content.content}}"
        data-flow-load-handler="topicTitle"
		{{#if isLocked}}
        data-flow-interactive-handler="collapserCollapsibleToggle"
		{{/if}}
            >
		{{#if isLocked}}<span class="mw-ui-icon mw-ui-icon-before mw-ui-icon-check"></span> {{/if}}
		{{~escapeContent content.format content.content~}}
    </h2>
    <div class="flow-topic-meta">
		{{#if isLocked~}}
            <a class="expand-collapse-posts-link flow-collapse-toggle flow-click-interactive"
               href="javascript:void(0);"
               title="{{l10n "flow-show-comments-title" reply_count}}"
               data-collapsed-title="{{l10n "flow-show-comments-title" reply_count}}"
               data-expanded-title="{{l10n "flow-hide-comments-title" reply_count}}"
               data-flow-interactive-handler="collapserCollapsibleToggle"
                    >{{l10n "flow-topic-comments" reply_count}}</a>
			{{~else~}}
			{{l10n "flow-topic-comments" reply_count}}
		{{~/if}} &bull;

        <a href="{{links.topic-history.url}}" class="flow-timestamp-anchor">
			{{#if last_updated}}
				{{timestamp last_updated}}
			{{else}}
				{{uuidTimestamp postId}}
			{{/if}}
        </a>
    </div>
	{{#if isModeratedNotLocked}}
        <div class="flow-moderated-topic-title flow-ui-text-truncated">
			{{~noop~}}{{> flow_topic_moderation_flag}}
			{{> flow_post_moderation_state}}
        </div>
        <div class="flow-moderated-topic-reason">
			{{l10n "flow-topic-moderated-reason-prefix"}}
			{{escapeContent moderateReason.format moderateReason.content}}
        </div>
	{{/if}}
    <span class="flow-reply-count"><span class="flow-reply-count-number">{{reply_count}}</span></span>
</div>