<form method="POST" action="{{moderationAction actions @root.submitted.moderationState}}">
	{{> flow_errors}}
	<input type="hidden" name="wpEditToken" value="{{@root.editToken}}" />
	<input name="topic_reason"
	          type="text"
	          size="45"
	          required
	          class="mw-ui-input"
	          data-role="content"
	          placeholder="{{l10n (concat "flow-moderation-placeholder-" @root.submitted.moderationState "-topic")}}"
	          autofocus
	          {{~#if @root.submitted.reason~}}
	            value="{{~@root.submitted.reason~}}"
	          {{~/if~}}
	          >
	<div class="flow-form-actions flow-form-collapsible">
		<button class="mw-ui-button mw-ui-progressive"
		        data-flow-interactive-handler="apiRequest"
		        data-flow-api-handler="moderateTopic"
		        data-role="submit">
			{{~l10n (concat "flow-moderation-confirm-" @root.submitted.moderationState "-topic")~}}
		</button>
		<a class="mw-ui-button mw-ui-quiet mw-ui-destructive"
		   href="{{links.topic.url}}"
		   title="{{l10n "flow-cancel"}}"
		   data-flow-interactive-handler="cancelForm">
			{{~l10n "flow-cancel"~}}
		</a>
	</div>
</form>
